<!-- IMPORTANT DATES -->
<div class="panel panel-default top1" id="deadlines">
  <h4 class="panel-heading">Important Dates</h4>
  <div class="panel-body top-1" markdown="1">
  {% capture nowtime %}{{'now' | date: '%s'}}{% endcapture %}
  {% capture abstractduetime %}{{site.symposium[page.year].abstract | date: '%s'}}{% endcapture %}
	{% capture paperduetime %}{{site.symposium[page.year].paper | date: '%s'}}{% endcapture %}
	{% capture extensionduetime %}{{site.symposium[page.year].extension | date: '%s'}}{% endcapture %}
  {% capture extentionposterdemoduetime %}{{site.symposium[page.year].extention-poster-demo | date: '%s'}}{% endcapture %}
	{% capture acceptanceduetime %}{{site.symposium[page.year].acceptance | date: '%s'}}{% endcapture %}
  {% capture firstreviewnotificationduetime %}{{site.symposium[page.year].first-review-notification | date: '%s'}}{% endcapture %}
  {% capture revisedsubmissionduetime %}{{site.symposium[page.year].revised-submission | date: '%s'}}{% endcapture %}
  {% capture secondreviewnotificationduetime %}{{site.symposium[page.year].second-review-notification | date: '%s'}}{% endcapture %}
	{% capture camerareadyduetime %}{{site.symposium[page.year].camera-ready | date: '%s'}}{% endcapture %}
	{% capture generalartworksubmissionduetime %}{{site.symposium[page.year].general-artwork-submission | date: '%s'}}{% endcapture %}
    <span class="bold">Symposium:</span> <span><b>{{ site.symposium[page.year].date }}</b></span><br>
    {% if site.symposium[page.year] contains 'abstract' %}<span>Abstract due:</span> <span>{% if abstractduetime < nowtime %}<s>{% endif %}{{ site.symposium[page.year].abstract }}{% if abstractduetime < nowtime %}</s>{% endif %}</span><br>{% endif %}
    <span>Paper deadline:</span> <span>{% if paperduetime < nowtime %}<s>{% endif %}{{ site.symposium[page.year].paper }}{% if paperduetime < nowtime %}</s>{% endif %}</span><br>
    {% if site.symposium[page.year] contains 'extension' %}<span  class="bold">Extended full paper deadline:</span> <span><b>{% if extensionduetime < nowtime %}<s>{% endif %}{{ site.symposium[page.year].extension }}{% if extensionduetime < nowtime %}</s>{% endif %}</span></b><br>{% endif %}
    {% if site.symposium[page.year] contains 'extention-poster-demo' %}<span  class="bold">Extended  posters and demos deadline:</span> <span><b>{% if extentionposterdemoduetime < nowtime %}<s>{% endif %}{{ site.symposium[page.year].extention-poster-demo }}{% if extentionposterdemoduetime < nowtime %}</s>{% endif %}</span></b><br>{% endif %}
    {% if site.symposium[page.year] contains 'acceptance' %}<span>Acceptance by:</span> <span>{% if acceptanceduetime < nowtime %}<s>{% endif %}{{ site.symposium[page.year].acceptance }}{% if acceptanceduetime < nowtime %}</s>{% endif %}</span><br>{% endif %}
    {% if site.symposium[page.year] contains 'first-review-notification' %}<span>First review:</span> <span>{% if firstreviewnotificationduetime < nowtime %}<s>{% endif %}{{ site.symposium[page.year].first-review-notification }}{% if firstreviewnotificationduetime < nowtime %}</s>{% endif %}</span><br>{% endif %}
    {% if site.symposium[page.year] contains 'revised-submission' %}<span>Revised submission:</span> <span>{% if revisedsubmissionduetime < nowtime %}<s>{% endif %}{{ site.symposium[page.year].revised-submission }}{% if revisedsubmissionduetime < nowtime %}</s>{% endif %}</span><br>{% endif %}
    {% if site.symposium[page.year] contains 'second-review-notification' %}<span>Second review:</span> <span>{% if secondreviewnotificationduetime < nowtime %}<s>{% endif %}{{ site.symposium[page.year].second-review-notification }}{% if secondreviewnotificationduetime < nowtime %}</s>{% endif %}</span><br>{% endif %}
    {% if site.symposium[page.year] contains 'camera-ready' %}<span>Camera-ready:</span> <span>{% if camerareadyduetime < nowtime %}<s>{% endif %}{{ site.symposium[page.year].camera-ready }}{% if camerareadyduetime < nowtime %}</s>{% endif %}</span>{% endif %}
	<br>
	<span>Artworks/posters/demos by:</span> <span>{% if generalartworksubmissionduetime < nowtime %}<s>{% endif %}Rolling notification, closes {{site.symposium[page.year].general-artwork-submission }}{% if generalartworksubmissionduetime < nowtime %}</s>{% endif %}</span>
  </div>
</div>
